aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
audioop-lts
blinker
certifi
charset-normalizer
click
discord.py
distro
Flask
frozenlist
h11
httpcore
httpx
idna
itsdangerous
Jinja2
jiter
json_repair
MarkupSafe
msgpack
multidict
openai
prompt_toolkit
propcache
pydantic
pydantic_core
python-ulid
PyYAML
regex
requests
sniffio
tiktoken
tqdm
typing-inspection
typing_extensions
urllib3
wcwidth
Werkzeug
yarl
